
.home{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content{
    /* position: absolute; */
    
    width:50%;
    display: flex;
    justify-content: flex-end;
}
.image{
    position: absolute;
    top:0;
    right:0;
    width:50%;
    height:100vh;
    background-color:#105f50;
    box-shadow: -8px 8px 73px #105f50;
    border-radius:0% 0% 0% 100%;
    border:none;
    animation-name: border-rad;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate
    /* display: flex;
    justify-content: flex-end; */
}
@keyframes border-rad{
  0%{
          background-color:#105f50;

          border-radius:0% 0% 0% 100%;

  } 
  100%{
          background-color:#188b76;

          border-radius:0% 0% 0% 96%;

  } 
}
.home #hire_btn{
 text-decoration: none;
 color: #fff;
 font-family: sans-serif;
 letter-spacing: 3px;
 border:2px solid blue;
 font-size: 20px;
 border-radius: 10px;
 padding: 10px;
}
.home,.text-content,.image{
    /* border:3px solid red; */
}
