@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');

.home{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content{
    /* position: absolute; */
    height:60vh;
    /* border:2px solid red; */
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
    margin-left: 30px;
}

.home #hire_btn{
    margin-left: 50px;
     margin-top: 20px;
    text-align: center;
    display: inline-block;
 text-decoration: none;
 color: #fff;
 font-family: sans-serif;
 letter-spacing: 3px;
 border:4px solid transparent;
 font-size: 20px;
 border-radius: 30px;
 width:200px;
 padding: 10px;
 /* background-color: #0cbaba; */
background-image: radial-gradient( circle 597px at 93% 9.8%,  rgba(255,61,89,1) 1.7%, rgba(252,251,44,1) 97% );
 font-weight: 400;
 transition: all 0.5s ease-in-out;
}
.home #hire_btn:hover{
    width:220px;

}
.image_ani{
    position: absolute;
    top:100px;
    right:0;
    width:50%;
    height: 70vh;
    animation:movebounce-up 9s infinite;
    animation-direction: alternate;
    transform: translateY(200px);
}
@keyframes movebounce-up{
    0%{
         transform: translateY(200px);

    }
    100%{
           transform: translateY(70px);

    }
}
#hdi{
    font-size: 66px;
font-family: 'Livvic', sans-serif;
color:rgb(255, 253, 253);
}
